body{
    background: #edeff3;
    color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    padding: 55px;
    border-radius: 12px;
}

.box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.box input{
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background: #35187f;
    color: #fff;
}

.box input::placeholder{
    color: #fff;
}

.box button{
    width: 45px;
    border-radius: 12px;
    border: none;
    background: #35187f;
    color: #fff;
    outline: none;
}

.box button:hover{
    background: #1f1e1e;
    cursor: pointer;
}

#TaskList{
    list-style: none;
    padding: 0;
    margin: 0;
}

#TaskList li{
    padding: 20px;
    background: #edeff3;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

#btnAction{
    border-radius: 8px;
    border: none;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: #edeff3;
    color: #35187f;
    font-size: 1.1rem;
}

#btnAction:hover{
    background: #35187f;
    color: #fff;
}

.btnAction{
    margin-right: 8px;
}